@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h1>Settings</h1>
    <p> This is where we would adjust settings. Including account information and notification settings. As well as Items like Theme, Font, Wallpaper. The account information will feature being able to change Name, DoB, and Phone Number</p>
</body>
